@inherits BlazorLayoutComponent

<div class="main-layout-container">
    <div style="grid-area: navbar">
        <!-- Removing the Navbar for now -->
        <!-- <Navbar></Navbar> -->
    </div>

    <div style="grid-area: body">
        @Body
    </div>
</div>


