@inherits BlazorLayoutComponent

<div class="main-layout-container">
    <div style="grid-area: navbar">
        <Navbar></Navbar>
    </div>

    <div style="grid-area: body">
        @Body
    </div>
</div>


