/* 
Site css for AutoLazer 
By Adam Renaud
Created 2018-12-22
*/

/* Import my favorite font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

/* setting the html to font size 100% for em and rem */
html {
    font-size: 100%
}

/* The body of the html page */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* The main layout container */
.main-layout-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 
        "navbar navbar navbar"
        ". body .";
}

/* Container for the navbar component */
.navbar-container {
    background-color: #f5f5f5;
    border-bottom: 1px solid #8f8f8f;

    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 0 1px 3px 1px #888888;
}

/* Style for the links in the nav container */
.navbar-container a {
    margin: 0 1em 0 1em;
    font-size: 1.3em;
}

/* The index component container */
.index-container {
    display: grid;
    grid-template-rows: auto auto 2em auto;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-areas: 
        "message message message"
        "input input input"
        "length-output area-output download-button"
        "block-table block-table block-table";
}

/* The standard look and feel for the autolist textarea */
.autolist-textarea {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 0.25em 0.75em 0.25em 0.75em;
    resize: none;
    width: 100%;
}

/* When the autolist text area is in focus */
.autolist-textarea:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 5px 2px #8f8f8f;
}

/* Styling for the block table */
.table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    overflow-x: auto;
    table-layout: fixed;
}
/* Styling for the block table headers */
.table th {
    background-color: #f5f5f5;
}
/* Styling for the block table */
.table tr, th, td {
    border: 1px solid black;
    padding: 0.1em 0.2em 0.1em 0.2em;
    text-align: center;
}

/* Specific styles for the autolist-input area textarea */
#input-area {
    height: 15em;
    resize: vertical;
}

/* Download button style */
.download-button {
    font-family: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
}